*.bak
*.crl
*.jks
*.log
*.pyc
*.retry
*.tfplan*
*.tfstate*
.DS_Store
.cache/
.envrc
ansible/ansible_dyn_inv_sa_key.json
terraform/lab/.terraform.d/
terraform/lab/.terraform.lock.hcl
terraform/lab/.terraform/
