[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=11.1"
requests = "~=2.32"
passlib = "~=1.7"
google-auth = "~=2.36"

[dev-packages]

[requires]
python_version = "3.12"
